.submit {
    background-color: rgba(255, 255, 255, 0.283);
    width: 100%;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-k2d);
    color: #ffffffb1;
    cursor:not-allowed;
}

.submitActive {
    background-color: #52F2B8;
    width: 100%;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    font-family: var(--font-k2d);
    color: #ffffff;
}

.iconSubmit {
    width: 26px;
    height: 26px;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: var(--font-jost);
}

.title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container {
    position: relative;
    z-index: 10;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputGroup {
    font-family: var(--font-jost);
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.input {
    border: 2px solid #ffffff16;
    background-color: #ffffff22;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.847);
    width: 100%;
    text-align: start;
    outline: none;
    transition: box-shadow 0.2s;
}

.labelWithImage {
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0.8;
}

.iconLabel {
    width: 32px;
}

.inputColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
}